body {
    font-family: Arial, sans-serif;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e4e4e4;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #222;
}

.main-title h1 {
    font-size: 4em;
    color: #007bff;
    margin-bottom: 70px;
    text-transform: uppercase;
    background-color: #abc3e3;
    justify-content: space-between;
}

.second-title h2 {
    font-size: 3em;
    color: #007bff;
    margin-bottom: 70px;
    text-align: left;
    background-color: #abc3e3;
    padding: 20px;
}

.third-title h3 {
    font-size: 2em;
    color: #007bff;
    padding: 10px;
    margin-bottom: 40px;
    text-align: left;
    background-color: #abc3e3;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #007bff;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}
/*SHOP*/
/* Image index style*/
.shop-image {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Make the images cover the area without distorting */
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.shop-image:hover{
    transform: scale(1.2);
}

.shop-image-large {
    width: 80%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

/* Shop mosaic*/
.shops-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.shop-item {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.shop-item a {
    text-decoration: none;
    color: inherit;
}

.shop-item p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/*Comment*/
.comment-text{
    background-color: #e1da9d;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 10px 20px;
    border: 3px solid #e1da9d;
    border-radius: 10px;
}
.comment-select{
    display: inline-block;
    background-color: #e1da9d;
    padding: 10px 20px;
    border: 3px solid black;
    margin-bottom: 10px;
    transition: transform 0.1s ease;
    text-decoration: none;
    color: black;
}

.comment-select:hover{
    transform: scale(1.1);
}

/* Shopping Cart*/
.cart-text{
    background-color: #99bd77;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 10px 20px;
    border: 3px solid #99bd77;
    border-radius: 10px;
}

form {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/*Button*/
button {
    background: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #0056b3;
}


/* Media Queries */
@media (max-width: 768px) {
    .shops-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .shops-container {
        grid-template-columns: 1fr;
    }
}

/*link*/
.link-select{
    display: inline-block;
    transition: transform 0.1s ease;
}
.link-select:hover{
    transform: scale(1.1);
}
.back-link {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.back-link:hover {
    background: #0056b3;
}


.error-container {
    max-width: 500px;
    margin: auto;
    background: #f8d7da;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2) ;
}

.error-title {
    color: #721c24;
    font-size: 24px;
}

.error-message {
    color: #721c24;
    font-size: 18px;
}

.error-code {
    font-size: 20px;
    font-weight: bold;
    color: #721c24;
}

.back-link-error {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #721c24;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-link-error:hover {
    background: #5c1216;
}


