<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tiendas</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Lista de Tiendas</h1>

{{#categories}}
<p> <a href="categories/{{id}}" class="button">{{name}}</a></p>
{{/categories}}

<h2>Agregar nueva Tienda</h2>
<form action="/categories/add" method="post">
    <input type="text" name="categoryName" placeholder="Nombre de la categoría" required>
    <button type="submit">Agregar</button>
</form>

<h2>Eliminar categoría</h2>
<!-- Formulario para eliminar una categoría -->
<form action="/categories/delete" method="post">
    <select name="categoryId" required>
        <option value="" disabled selected>Selecciona una categoría para eliminar</option>
        {{#categories}}
        <option value="{{id}}">{{name}}</option>
        {{/categories}}
    </select>
    <button type="submit">Eliminar</button>
</form>

</body>
</html>