<!DOCTYPE html>
<html lang="es" xmlns:th=" ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>{{shop.shopName}}</h1>
    <h2>Productos disponibles</h2>
    <ul class="list-group">
        <!-- Lista de productos -->
        <th:block th:each="product : ${shop.products}">
            <li class="list-group-item">
                <strong>Producto:</strong> <span th:text="${product.productName}">Producto X</span><br>
                <strong>ID:</strong> <span th:text="${product.productId}">ID X</span><br>
                <strong>Precio:</strong> <span th:text="${product.productPrize}">Precio X</span>
            </li>
        </th:block>
    </ul>
</div>

</body>
</html>

