<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto: {{product.productName}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

{{>header}}

<header class="third-title">
    <h3>{{product.productName}}</h3>
</header>

<section>
    <h2>Precio: {{product.productPrize}} </h2>

    <h2>El producto se encuentra disponible en estas tiendas:</h2>

    <div class="shops-container">
        {{#product.shops}}
        <div class="shop-item">
            <a href="/shops/{{shopID}}">
                <img src="/shopImage/{{shopID}}" alt="{{shopName}}" class="shop-image">
                <p>{{shopName}}</p>
            </a>
        </div>
        {{/product.shops}}
    </div>

    {{^product.shops}}
    <p>No hay tiendas disponibles para este producto.</p>
    {{/product.shops}}
    {{#logged}}
    {{#fileName}}
    <section>
        <h2>Archivo adjunto:</h2>
        <a href="/products/{{product.productId}}/file" target="_blank">{{fileName}}</a>
    </section>
    {{/fileName}}

    {{/logged}}
</section>

{{#admin}}
<section>
    <h2>Añadir Tienda</h2>
    <form action="/products/{{ product.productId }}/addShop/" method="post">
        <select name="shopID" required>
            {{#allShops}}
            <option value="{{shopID}}">{{shopName}}</option>
            {{/allShops}}
        </select>
        <button type="submit">Añadir Tienda</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
    </form>
</section>

<section>
    <h2>Eliminar Producto</h2>
    <form action="/products/{{ product.productId }}/delete" method="post">
        <button type="submit">Eliminar Producto</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
    </form>
</section>

<section>
    <h2>Actualizar Producto</h2>
    <form action="/products/{{ product.productId }}/update/" method="post">
        <input type="text" name="productName" placeholder="Nombre del Producto">
        <input type="number" name="productPrize" placeholder="Precio del Producto">
        <button type="submit">Actualizar</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
    </form>
</section>
{{/admin}}

{{#logged}}
<section>
    <h2>Comprar Producto</h2>
    <form action="/products/{{ product.productId }}/buy" method="post">
        <button type="submit">Comprar Producto</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
    </form>
</section>
{{/logged}}

<section>
    <a href="/index" class="back-link">Volver</a>
</section>

</body>
</html>
