<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto: {{product.productName}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

<header class="third-title">
    <h3>{{product.productName}}</h3>
</header>

<section>
    <h2>Precio: {{product.productPrize}} </h2>

    <h2>El producto se encuentra disponible en estas tiendas:</h2>

    <div class="shops-container">
        {{#product.allShops}}
        <div class="shop-item">
            <a href="/shops/{{shopID}}">
                <img src="/image/{{imageName}}" alt="{{shopName}}" class="shop-image">
                <p>{{shopName}}</p>
            </a>
        </div>
        {{/product.allShops}}
    </div>
    <br>


    {{^product.allShops}}
    <p>No hay tiendas disponibles para este producto.</p>
    {{/product.allShops}}

</section>
<br>
<section>
    <h2>Añadir Tienda</h2>
    <form action="/products/{{ product.productId }}/addShop/" method="post">
        <select name="shopID" required>
            {{#shops}}
            <option value="{{shopID}}">{{shopName}}</option>
            {{/shops}}
        </select>
        <button type="submit">Añadir Tienda</button>
    </form>
</section>

<section>
    <h2>Eliminar Producto</h2>
    <form action="/products/{{ product.productId }}/delete" method="post">
        <button type="submit">Eliminar Producto</button>
    </form>
</section>

<section>
    <h2>Comprar Producto</h2>
    <form action="/products/{{ product.productId }}/buy" method="post">
        <input type="text" id="username" name="username" placeholder="Nombre de Usuario">
        <button type="submit">Comprar Producto</button>
    </form>
</section>

<section>
    <h2>Actualizar Producto</h2>
    <form action="/products/{{ product.productId }}/update/" method="post">
        <input type="text" name="productName" placeholder="Nombre del Producto">
        <input type="number" name="productPrize" placeholder="Precio del Producto">
        <button type="submit">Actualizar</button>
    </form>
</section>

<section>
    <a href="/" class="back-link">Volver</a>
</section>

</body>
</html>
