<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentario: {{comment.issue}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

<section>
    <div class="comment-text">
        <h1>Asunto: {{comment.issue}}</h1>
        <h3>Comentario escrito por: {{comment.user.getUserName}}</h3>
        <p>{{comment.message}}</p>
    </div>
</section>


<section>
    <a href="/shops/{{shop.shopID}}" class="back-link">Volver</a>
    <form action="/comments/{{ shop.shopID }}/{{ comment.commentId }}/deleteComment" method="post">
        <button type="submit" class="back-link">Eliminar</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
    </form>
</section>

</body>
</html>
