<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{shop.shopName}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

<header class="second-title">
    <h2>{{shop.shopName}}</h2>
</header>

<section>
    <img src="/shopImage/{{shop.shopID}}" class="shop-image-large" alt="{{shop.shopName}}">
</section>

<section>
    <h2>Productos</h2>
    {{#shop.products}}
    <a href="/products/{{productId}}" class="link-select">{{productName}}</a><br>
    {{/shop.products}}
    {{^shop.products}}
    <p>No hay productos aún.</p>
    {{/shop.products}}
</section>
<br>
<section>
    <h2>Comentarios</h2>
    <div id="comments-container"></div>
    <div class="pagination" id="pagination-controls"></div>
</section>

<br>

<section>
    <h2>Agregar Producto</h2>
    <form action="/shops/{{ shop.shopID }}/products/new" method="post">
        <input type="text" name="productName" placeholder="Nombre del producto" required>
        <input type="number" name="productPrize" placeholder="Precio del producto" required>
        <button type="submit">Agregar</button>
    </form>
</section>

<section>
    <h2>Agregar Comentario</h2>
    <form action="/shops/{{ shop.shopID }}/comments/new" method="post">
        <input type="text" name="issue" placeholder="Asunto" required>
        <input type="text" name="message" placeholder="Comentario" required>
        <button type="submit">Agregar</button>
    </form>
</section>


<section>
    <h2>Eliminar Tienda</h2>
    <form action="/shops/{{ shop.shopID }}/delete" method="post">
        <button type="submit"> Eliminar </button>
    </form>
</section>

<section>
    <a href="/" class="back-link">Volver</a>
</section>

<script src="/js/paginacion.js" defer ></script>

</body>
</html>
