<html>
<body>
<h1>Tienda: {{shop.shopName}}</h1>

<h3>Productos</h3>
{{#shop.allProducts}}
<a href="/products/{{productId}}"> {{productName}}</a>
<br>
{{/shop.allProducts}}

{{^shop.allProducts}}
<p>No Products yet.</p>
{{/shop.allProducts}}

<br>

<h3>Comentarios</h3>
{{#comments}}
<p><strong> Comentario de {{user.name}}</strong></p>
<p><em>Asunto: {{issue}}</em></p>
<p>{{message}}</p>
<br>
{{/comments}}

{{^comments}}
<p>No hay comentarios aún.</p>
{{/comments}}

<br>

<h1>Add Product</h1>
<form action="/shops/{{ shop.shopID }}/products/new" method="post" style="background-color: #c2c2c2; width: 200px; padding: 10px;">
    <p>Nombre del producto: </p>
    <input type='text' name='productName'/>
    <p>Precio del producto</p>
    <input type='number' name='productPrize'/>

    <input type='submit' value='Save'/>
</form>


<a href="/">Back</a>
</body>
</html>

