<html>
<body>
<h1>Tienda: {{shop.shopName}}</h1>

<img src="/image/{{shop.imageName}}" width="100">

<h3>Productos</h3>
{{#shop.allProducts}}
<a href="/products/{{productId}}"> {{productName}}</a>
<br>
{{/shop.allProducts}}

{{^shop.allProducts}}
<p>No Products yet.</p>
{{/shop.allProducts}}

<br>

<h3>Comentarios</h3>
{{#shop.allComments}}
<a href="/comments/{{shop.shopID}}/{{commentId}}"> Asunto: {{issue}}</a>
<br>
{{/shop.allComments}}

{{^shop.allComments}}
<p>No hay comentarios aún.</p>
{{/shop.allComments}}

<br>

<h1>Add Product</h1>
<form action="/shops/{{ shop.shopID }}/products/new" method="post" style="background-color: #c2c2c2; width: 200px; padding: 10px;">
    <p>Nombre del producto: </p>
    <input type='text' name='productName'/>
    <p>Precio del producto</p>
    <input type='number' name='productPrize'/>

    <input type='submit' value='Save'/>
</form>


<h1>Add Comment</h1>
<form action="/shops/{{ shop.shopID }}/comments/new" method="post" style="background-color: #c2c2c2; width: 200px; padding: 10px;">
    <p>Usuario: </p>
    <input type='text' name='user'/>
    <p>Asunto: </p>
    <input type='text' name='issue'/>
    <p>Comentario: </p>
    <input type='text' name='message' />

    <input type='submit' value='Save'/>
</form>
<h2>Eliminar Comentario</h2>
<form action="/deleteComment" method="post">
    <!-- Campo oculto para enviar el ID de la tienda -->
    <input type="hidden" name="shopId" value="{{shop.shopID}}">

    <select name="commentId" required>
        <option value="" disabled selected>Selecciona un comentario para eliminar</option>
        {{#shop.allComments}}
        <option value="{{commentId}}">{{issue}}</option>
        {{/shop.allComments}}
    </select>

    <button type="submit">Eliminar</button>
</form>

<a href="/">Back</a>
</body>
</html>

